/* Global Styles */
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* Navigation Styles */
nav {
	font-weight: 700;
	background-color: black;
	color: white;
	border: solid 1px black;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-evenly;
	padding: 0.5rem 0rem;
	height: 20px;
	width: 100%;
	align-items: center;
	box-shadow: 0 2px 2px 2px #0909093b;
}

nav a {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	font-weight: bold;
}

nav a svg {
	margin-right: 0.5rem;
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
	nav a {
		font-size: 1rem;
	}
}

@media (max-width: 480px) {
	nav a {
		font-size: 0.8rem;
	}
}

/* Hyperlink Styles */
a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

/* Body Styles */
body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

/* Heading Styles */
h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

/* Button Styles */
button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

/* Light Mode Styles */
@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}

/* Footer Styles */
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	font-size: 0.7rem;
	width: 100%;
	background-color: #1a1a1a;
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

footer p {
	margin: 0;
}

/* Styles for the grid container */
.pokemon-grid-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100vh;
}
y

/* Pokemon Grid */
.pokemon-grid {
	flex: 1; /* Allow the grid to expand and fill the available space */
	overflow-y: auto; /* Add vertical scrolling if needed */
	padding-top: 60px; /* Adjust the top padding to match the navigation height */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

/* Pokemon Card Styles */
.pokemon-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.pokemon-card {
	background-color: #f0f0f0;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 15px;
	text-align: center;
	width: 220px;
	position: relative;
}

.pokemon-name {
	font-size: 1.2rem;
	margin: 0;
	color: #ff1f1f;
}

.divider {
	border-bottom: 2px solid #ccc;
	margin: 10px 0;
}

.pokemon-image {
	width: 100%;
	max-height: 200px;
	object-fit: contain;
}

.button-container {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
}

.scrollable-container {
	max-height: 500px; /* Set a fixed height for the container */
	overflow-y: auto; /* Enable vertical scrolling if content overflows */
}
